<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="MvcHttpHandler" path="*.mvc" verb="*" type="System.Web.Mvc.MvcHttpHandler" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
