@model IEnumerable<UsedBooks.Models.POrder>

@{
    ViewBag.Title = "POrder";
}

<h2>POrder</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
           订单时间
        </th>
        <th>
           联系电话
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
       
    </tr>
}

</table>
