@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>

    <link rel="stylesheet" href="../../Content/css/reset.css" type="text/css" media="screen" />

<link rel="stylesheet" href="../../Content/css/style.css" type="text/css" media="screen" />

<link rel="stylesheet" href="../../Content/css/invalid.css" type="text/css" media="screen" />

<script type="text/javascript" src="../../Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../../Scripts/scripts/simpla.jquery.configuration.js"></script>
<!-- Facebox jQuery Plugin -->
<script type="text/javascript" src="../../Scripts/scripts/facebox.js"></script>
<!-- jQuery WYSIWYG Plugin -->
<script type="text/javascript" src="../../Scripts/scripts/jquery.wysiwyg.js"></script>
<!-- jQuery Datepicker Plugin -->
<script type="text/javascript" src="../../Scripts/scripts/jquery.datePicker.js"></script>
<script type="text/javascript" src="../../Scripts/scripts/jquery.date.js"></script>
</head>
<body>
<div id="body-wrapper">

  <div id="sidebar">
    <div id="sidebar-wrapper">
      <!-- Sidebar with logo and menu -->
      <h1 id="sidebar-title"><a href="#">Simpla Admin</a></h1>
      <!-- Logo (221px wide) -->
      <a href="#"><img id="logo" src="../../Content/images/images/logo.png" alt="Simpla Admin logo" /></a>
      <!-- Sidebar Profile links -->
      <div id="profile-links"> Hello, <a href="#" title="Edit your profile">865171</a>, you have <a href="#messages" rel="modal" title="3 Messages">3 Messages</a><br />
        <br />
        <a href="#" title="View the Site">View the Site</a> | <a href="#" title="Sign Out">Sign Out</a> </div>
      <ul id="main-nav">
        <!-- Accordion Menu -->
        <li> <a href="#" class="nav-top-item no-submenu">
          
          用户反馈 </a> </li>
        <li> <a href="#" class="nav-top-item current">
          <!-- Add the class "current" to current menu item -->
          书籍管理 </a>
          <ul>
            <li><a href="#">今日上传书本</a></li>
            <li><a class="current" href="#">今日今日成交书本</a></li>
            <!-- Add class "current" to sub menu items also -->
            <li><a href="#">Manage Comments</a></li>
            <li><a href="#">Manage Categories</a></li>
          </ul>
        </li>
        <li> <a href="#" class="nav-top-item"> 数据统计 </a>
          <ul>
            <li><a href="#">访问量</a></li>
            <li><a href="#">订单成交量</a></li>
          </ul>
        </li>
        <li> <a href="#" class="nav-top-item"> 用户管理 </a>
          <ul>
            <li><a href="#">创建用户</a></li>
            <li><a href="#">用户查看</a></li>
            <li><a href="#">今日注册会员</a></li>
            
          </ul>
        </li>
        <li> <a href="#" class="nav-top-item"> Events Calendar </a>
          <ul>
            <li><a href="#">Calendar Overview</a></li>
            <li><a href="#">Add a new Event</a></li>
            <li><a href="#">Calendar Settings</a></li>
          </ul>
        </li>
        <li> <a href="#" class="nav-top-item"> Settings </a>
          <ul>
            <li><a href="#">General</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Your Profile</a></li>
            <li><a href="#">Users and Permissions</a></li>
          </ul>
        </li>
      </ul>
    
    </div>
  </div>
  <!-- End #sidebar -->
  
</div>
</body>
<!-- Download From www.exet.tk-->
</html>
